<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h2>Add User Details Here</h2>
    <form method="post" action="/user/add">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" placeholder="enter id"><br><br>

        <label for="name">Username:</label>
        <input type="text" id="name" name="username" placeholder="enter name"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="enter email"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="password"><br><br>

        <button type="submit">Add</button>
    </form>

</body>
</html>